@model HerPortal.Models.LocalAuthorityUsersViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPortal.BusinessLogic.Models.Enums
@using HerPortal.Controllers
@using HerPortal.Models.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Routing
@{
    ViewBag.Title = "Admin - Home Energy Retrofit Portal BETA";   
}


@section BeforeMain {
    @await Html.PartialAsync("Components/_Tabs", new NavTabsViewModel(NavTabsViewModel.Tab.LocalAuthorities, UserRole.DesnzStaff))
}

<h1 class="govuk-heading-l">@Model.LocalAuthority.Name Users</h1>

<div class="horizontally-scrollable">
    @(await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Name"
                },
                new()
                {
                    Text = "Email"
                },
                new()
                {
                    Text = "Actions"
                }
            },
            Rows = Model.Users.Select(user => new TableRowViewModel
            {
                Row = new List<TableCellViewModel>
                {
                    new()
                    {
                        Text = user.EmailAddress
                    },
                    new()
                    {
                        Html = @<text>@await Html.GovUkTag(user.Enabled switch
                                      {
                                          true => new TagViewModel { Classes = "govuk-tag--green", Text = "Enabled" },
                                          false => new TagViewModel { Classes = "govuk-tag--red", Text = "Disabled" }
                                      })</text>
                    },
                    new()
                    {
                        Html = @<a
                                    asp-action="LocalAuthorityUserDeleteGet"
                                    asp-controller="Home"
                                    asp-route-localAuthorityId="@Model.LocalAuthority.Id"
                                    asp-route-userId="@user.Id">
                                   Remove from LA
                               </a>
                    },
                }
        
            }).ToList()
        }
    ))
</div>

<form action="@Url.Action(nameof(HomeController.LocalAuthorityUsersGet), "Home")" method="post" novalidate>
    @Html.AntiForgeryToken()

    @(await Html.GovUkTextInputFor(
        m => m.Name,
        labelOptions: new LabelViewModel
        {
            Text = "Name"
        }
    ))

    @(await Html.GovUkTextInputFor(
        m => m.Email,
        labelOptions: new LabelViewModel
        {
            Text = "Email"
        }
    ))

    @(await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Submit",
    }))
</form>

